@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    height: 80px;
    margin-top: 40px;
    position: fixed;
    z-index: 1;
    background: #222;
    padding: 40px;
}

.container {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 100%;
    display: flex;
    align-items: center;
}

.logo img {
    width: 160px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu ul {
    display: flex;
}

.menu ul li {
    list-style: none;
    margin-left: 36px;
}

.menu ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #00ff00;
    text-transform: uppercase;
}

#selected {
    background: linear-gradient(to right, #00ff00, #00ff00);
    color: #fff;
    padding: 18px 40px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 1px 1px 30px -12px #00ff00;
    transition: all 300ms;
}

#selected:hover {
    box-shadow: 1px 1px 30px -6px #222;
}

.menu nav img {
    display: none;
}

.menu #btn-menu {
    display: none;
}

/* cover */

.container-cover {
    width: 100%;
    height: 800px;
    background: #222;
    padding: 40px;

    /* 
    
    if you want add a cover
    background-position: right;
    background-repeat: no-repeat;

    */
}

.cover {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-cover .text {
    max-width: 400px;
}

.container-cover .text h1 {
    font-size: 36px;
    font-weight: 600;
}

.container-cover .text p {
    font-size: 18px;
    margin-top: 40px;
}

.container-cover .text h1,
p {
    color: #00ff00;
}

.container-cover .cover .text input {
    padding: 18px 80px;
    border: none;
    font-size: 16px;
    border-radius: 50px;
    margin-top: 40px;
    background: linear-gradient(to right, #00ff00, #00ff00);
    color: #fff;
    cursor: pointer;
    box-shadow: 1px 1px 30px -12px #00ff00;
    transition: all 300ms;
}

.container-cover .text input:hover {
    box-shadow: 1px 1px 30px -6px #222;
}

.container-cover .svg video {
    width: 600px;
    animation: move-vector 4s linear infinite;
}

@keyframes move-vector {
    0% {
        transform: translateY(15px);
    }

    50% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(15px);
    }
}

/*media queries*/

@media screen and (max-width: 1700px) {
    .container-cover {
        background-position: 50%;
    }
}

@media screen and (max-width: 1200px) {

    header {
        padding: 40px;
    }

    .container-cover {
        background-position: -100px;
    }

    .container-cover .svg video {
        width: 500px;
    }
}

@media screen and (max-width: 1020px) {
    .container-cover {
        background-clip: url("");
        background-color: #222;
    }

    .container-cover .svg video {
        display: none;
    }

    .container-cover .text {
        max-width: 600px;
    }
}

@media screen and (max-width: 720px) {

    .menu nav {
        position: fixed;
        top: 0;
        right: -250px;
        background: #222;
        width: 250px;
        height: 100vh;
        padding: 40px;
        z-index: 1;
        transition: all 300ms;
    }

    .menu ul {
        flex-direction: column;
        margin-top: 40px;
    }

    .menu ul li {
        margin-top: 30px;
        margin-left: 36px;
    }

    .menu ul li a {
        color: #00ff00;
    }

    #selected {
        background: none;
        color: #fff;
        padding: 0px;
        border-radius: none;
    }

    .menu nav img {
        display: block;
        width: 60px;
    }

    #bars-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        display: none;
    }

    .menu #btn-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        font-size: 24px;
        border-radius: 50px;
        cursor: pointer;
        transition: all 300ms;
    }

    .menu #btn-menu:hover {
        background: rgba(255, 255, 255, 0.2);
    }

}